

:root {
    /* PRIMARY */

    --soft-cyan: hsl(174, 77%, 80%);
    /* (Slider Backround) */
    --strong-cyan: hsl(174, 86%, 45%);
    /* (Discount Background) */
    --light-grayish-red : hsl(14, 92%, 95%);
    /*  (Discount Text) */
    --light-red: hsl(15, 100%, 70%);
    /*  (CTA Text) */
    --pale-blue: hsl(226, 100%, 87%);

    /* NEUTRAL */
    
    /*  (Pricing Component Background) */
    --white: hsl (0, 0%, 100%);
    /*  (Main Background) */
    --very-pale-blue: hsl(230, 100%, 99%);
    /*  (Empty Slider Bar) */
    --empty-slider-blue: hsl(224, 65%, 95%);
    /*  (Toggle Background) */
    --toogle-back-blue: hsl(223, 50%, 87%);
    /* (Text) */
    --grayish-blue: hsl(225, 20%, 60%);
    /* (Text & CTA Background) */
    --dark-desaturated-blue: hsl(227, 35%, 25%);
}


html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Manrope';
    color: var(--dark-desaturated-blue);
    background-color: var(--very-pale-blue);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-image: url(../images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: 100% 50vh;
}

.header{
    position: relative;
    background-image: url(../images/pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    text-align: center; 
}

.header img{
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;
}

.card{
    max-width: 540px;
    max-height: 400px;
    background-color: white;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 20px lightgrey;
}

ul{
    list-style: url(../images/icon-check.svg);
}

input{
    border: none;
}

input:focus{
    outline: none;
}

.button{
    background-color: var(--dark-desaturated-blue);
    width: 150px;
    height: 40px;
    color: var(--pale-blue);
    font-size: 14px;
    font-weight: 700;
}

.button:hover{
    color: white;
}

.rounded{
    border-radius: 50px;
}


.card-content {
    padding: 5%;
    margin: 0;
}

.pages{
    grid-area: pages;
    display:flex;
    align-items: center;
}

.prices{
    grid-area: price;
}

.range-slider{
    grid-area: range-slider;
}

.plan{
    grid-area: plan;
    display: grid;
    grid-area: plan;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.card-content.superior{
    text-align: center;
    display: grid;
    grid-template-areas:    'pages prices'
                            'range-slider range-slider'
                            'plan plan' ;
    gap: 15px;
}

.card-content.inferior{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    height:10px;
    width:100%;
    cursor: pointer;
    background: var(--soft-cyan);
    margin: 10px 0;
  }
  
::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #24AEA0;
    background-image: url(../images/icon-slider.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    box-shadow: 5px 5px 20px #24AEA0;
    cursor: pointer;
    margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}


input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--strong-cyan);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--strong-cyan);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(75%);
    -ms-transform: translateX(75%);
    transform: translateX(75%);
  }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    margin: 0;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan span{
    margin: 0 5px;
}

.label{
    background-color: var(--light-grayish-red);
    color: var(--light-red);
    font-weight: bold;
    font-size: 10px;
    padding: 0 5px;
}

.short-text{
    display: none;
}

.period{
    font-weight: normal;
    color: var(--grayish-blue);
    vertical-align: middle;
}

h4{
    text-transform: uppercase;
    color: var(--grayish-blue)
}

@media screen and (max-width: 570px){

    body{
        font-size: 12px;
    }

    .card-content.superior{
        text-align: center;
        display: grid;
        grid-template-areas:
            'pages'
            'range-slider'
            'prices'
            'plan';
        gap: 15px;
    }

    .card{
        max-height: initial;
    }

    .card-content.superior{
        text-align: center;
    }

    .pages{
        display: inline;
    }

    .card-content.inferior{
        flex-direction: column;
    }

    .short-text{
        display: block;
    }

    .long-text{
        display: none;
    }

    .switch{
        height: 25px;
    }

    .slider:before{
        height: 70%;
        width: 45%;
    }

}